In [48]:
import pandas as pd

In [49]:
df_prof = pd.read_csv("raw_prof_info.csv")

In [51]:
df_prof.dtypes

profID                     int64
avgDifficulty            float64
avgRating                float64
department                object
firstName                 object
lastName                  object
numRatings                 int64
wouldTakeAgainPercent    float64
dtype: object

In [53]:
df_prof = df_prof.drop_duplicates(subset=["profID"])

In [56]:
df_prof.head()

,profID,avgDifficulty,avgRating,department,firstName,lastName,numRatings,wouldTakeAgainPercent
0,7775,2.3,4.4,Mechanical Engineering,Alan,Wineman,34,80.0000
1,7964,1.6,4.5,Anthropology,Thomas,Fricke,114,95.4545
2,8045,2.6,3.2,Biology,Julian,Adams,22,-1.0000
3,8189,3.1,4.6,Music,Deborah,Chodacki,8,-1.0000
4,10260,4.0,2.3,Political Science,Arlene,Saxonhouse,86,66.6667

In [57]:
df_prof["numRatings"] = df_prof["numRatings"].astype(int)

In [58]:
df_prof["wouldTakeAgainPercent"] = df_prof["wouldTakeAgainPercent"].apply(lambda x: int(x) if x >= 0 else float("nan"))

In [60]:
df_prof["fullName"] = df_prof.apply(lambda row: row["firstName"] + " " + row["lastName"], axis=1)

In [ ]:
df_ratings = pd.read_csv("raw_ratings.csv", lineterminator="\n")

In [ ]:
df_ratings = df_ratings.drop_duplicates()
df_ratings.shape

In [62]:
df_ratings.head()

,profID,attendanceMandatory,class,comment,date,difficultyRating,grade,helpfulRating,isForCredit,isForOnlineClass,ratingTags,wouldTakeAgain\r
0,7964,non mandatory,ANTHRCUL101,Fricke is the man. Entire class probably took ...,2019-04-28 17:13:12 +0000 UTC,1,A,5.0,True,False,Respected--Inspirational--Amazing lectures,TRUE\r
1,7964,non mandatory,ANTHRO101,Tom Fricke is one of those professors you will...,2019-01-08 18:41:24 +0000 UTC,1,A+,5.0,True,False,ACCESSIBLE OUTSIDE CLASS--Hilarious--Amazing l...,TRUE\r
2,7964,non mandatory,ANTHRCUL101,Prof. Fricke is amazing. He is hilarious and t...,2018-12-16 03:11:18 +0000 UTC,1,A,5.0,True,False,Hilarious--GRADED BY FEW THINGS--Caring,TRUE\r
3,7964,non mandatory,CULTANTHRO101,Such an easy class. Exams were exactly like th...,2018-12-12 10:03:19 +0000 UTC,1,A,5.0,True,False,ACCESSIBLE OUTSIDE CLASS--GRADED BY FEW THINGS...,TRUE\r
4,7964,non mandatory,ANTHRCUL101,Easiest class i have taken at UM. The exams to...,2018-12-11 16:33:00 +0000 UTC,1,A+,5.0,True,False,Respected--Hilarious--Amazing lectures,TRUE\r

In [69]:
df_ratings.dtypes

profID                  object
attendanceMandatory     object
class                   object
comment                 object
date                    object
difficultyRating        object
grade                   object
helpfulRating          float64
isForCredit             object
isForOnlineClass        object
ratingTags              object
wouldTakeAgain\r        object
dtype: object

In [71]:
df_ratings = df_ratings[df_ratings.apply(lambda row: row.loc["profID"].isdigit(), axis=1)]

In [72]:
df_ratings["profID"] = df_ratings["profID"].astype(int)

In [73]:
df_ratings = df_ratings.rename(columns={"wouldTakeAgain\r":"wouldTakeAgain"})

In [87]:
df_ratings = df_ratings.dropna(subset="comment")

In [96]:
df_ratings["isForCredit"] = df_ratings["isForCredit"].astype(bool)
df_ratings["isForOnlineClass"] = df_ratings["isForOnlineClass"].astype(bool)
df_ratings["wouldTakeAgain"] = df_ratings["wouldTakeAgain"].astype(bool)

In [99]:
def convert_mandatory(x):
    if isinstance(x, str):
        if x.upper().startswith('N'):
            return False
        else:
            return True

df_ratings["attendanceMandatory"] = df_ratings["attendanceMandatory"].apply(convert_mandatory)

In [101]:
df_ratings["attendanceMandatory"] = df_ratings["attendanceMandatory"].astype(bool)

In [104]:
df_ratings["difficultyRating"] = df_ratings["difficultyRating"].astype(float)

In [118]:
def convert_date(x):
    if isinstance(x, str):
        return pd.to_datetime(x[:(x.find('+') - 1)])
    else:
        return pd.NaT
    
df_ratings["date"] = df_ratings["date"].apply(convert_date)

In [124]:
def convert_tags(x):
    if isinstance(x, str):
        tags = x.strip().split("--")
        return [tag.title() for tag in tags]
    else:
        return None


df_ratings["ratingTags"] = df_ratings["ratingTags"].apply(convert_tags)

In [145]:
df_prof.to_csv("clean_prof_info.csv", index=False)
df_ratings.to_csv("clean_ratings.csv", index=False)